<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">

    <!-- Grid column -->
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="2000" class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1 footerBlock">

      <!-- Contact details -->
      <h5 class="font-weight-bold text-uppercase mb-4">Наша адреса</h5>

      <ul class="list-unstyled">
        <li>
          <p>
            <i class="fas fa-home mr-3"></i> Львів, пр.В.Чорновола,112</p>
        </li>
        <li>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@example.com</p>
        </li>
        <li>
          <p>
            <i class="fas fa-phone mr-3"></i> + 3067 234 567 88</p>
        </li>
        <li>
          <p>
            <i class="fas fa-print mr-3"></i> + 3096 234 567 89</p>
        </li>
      </ul>

    </div>

      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="2000" class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1 footerBlock">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Аліса Савенко</h5>
        <!--<div class="footBlock">-->
        <p>Лікар-дієтолог вищої категорії</p>
        <p>Засновник клініки дієтології Аліси Савенко</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">



      <!-- Grid column -->


      <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="2000" class="col-md-2 col-lg-2 text-center mx-auto my-4 footerBlock">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Ми в соцмережах</h5>

        <ul class="list-unstyled">
          <li><a class="text-secondary social" href="#"><i class="fab fa-facebook-square"></i></a></li>
          <li><a class="text-secondary social" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="text-secondary social" href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a routerLink="/home" class="text-dark"> A.S.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
