<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center justify-content-start wow fadeInDown px-0">
  <div class="container-fluid">
  <a class="navbar-brand d-md-none d-block" href=""><img src="../../../assets/images/2450044.jpg" alt="" class="brandImg d-block"></a>
  <button class="navbar-toggler m-1 " type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="nav-link navbar-brand mx-0 p-0 d-none d-md-inline" routerLink="/home"><img src="../../../assets/images/2450044.jpg" alt="" class="brandImg"></a>
  <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
    <ul class="navbar-nav mx-auto text-md-center text-center">
      <li class="nav-item" routerLinkActive="active">
      <a class="nav-link hov" routerLink="home" data-aos="fade-down" data-aos-delay="1500">Головна</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
      <a class="nav-link hov"  routerLink="about" data-aos="fade-down" data-aos-delay="1600">Про нас</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
      <a class="nav-link hov"  routerLink="services" data-aos="fade-down" data-aos-delay="1700">Послуги</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
      <a class="nav-link hov"  routerLink="blog" data-aos="fade-down" data-aos-delay="1800">Блог</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
      <a class="nav-link hov"  routerLink="recipes" data-aos="fade-down" data-aos-delay="1900">Рецепти</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
      <a class="nav-link hov"  routerLink="contacts" data-aos="fade-down" data-aos-delay="2000">Контакти</a>
      </li>
      <!--<li class="nav-item" routerLinkActive="active">-->
        <!--<a class="nav-link" routerLink="admin" data-aos="fade-down" data-aos-delay="2100">Admin</a>-->
      <!--</li>-->
    </ul>
    <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap socials">
      <li class="nav-item"><a class="text-secondary nav-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li class="nav-item"><a class="text-secondary nav-link" href="#"><i class="fab fa-twitter"></i></a></li>
      <li class="nav-item"><a class="text-secondary nav-link" href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
  </div>
</nav>
