<div class="p-3">
  <h2 class="text-center m-5 title">Аліса Савенко</h2>
</div>
<div class="container-fluid">
<section class="about d-flex flex-row flex-wrap justify-content-md-center">
      <div class="col-lg p-5 myPhoto"><img src="../../../assets/images/my_photo.jpg" alt="" class="my_photo"></div>
      <div class="col-lg p-5 myHistory">
        <h3 class="mb-5" >Моя історія</h3>
        <p>У професійному контексті це часто буває, що приватні або корпоративні клієнти Corder публікацію,
          які будуть зроблені і представлені з фактичний зміст все ще не готовий. Подумайте про прес- блозі,
          що наповнилися змістом погодинна в день буде жити. Однак рецензенти схильні відволікатися на зрозумілій змісту,
          скажімо, випадкового тексту, скопійованого з газети або в інтернеті., Швидше за все, зосередитися на тексті,
          не звертаючи уваги на макет і його елементів. Крім того, випадковий текст ризикує бути ненавмисно гумористичні
          або образливим, неприйнятним ризиком в корпоративному середовищі.</p>
      </div>
      <div class="directions pb-5 px-5 pt-0">
        <h3 class="mb-5">Напрямки</h3>
        <ul>
          <li data-aos="fade-right" data-aos-duration="1000">Діагностуємо всі види метаболізму за лабораторними показниками</li>
          <li data-aos="fade-left" data-aos-duration="1000">При формуванні щоденного раціону враховуємо співвідношення прийому білків,
          вуглеводів і жирів, щоб організм отримував усі необхідні для здоров’я елементи</li>
          <li data-aos="fade-right" data-aos-duration="1000">Спеціалізуємось на анти-ейдж програмах: розробляємо меню,
            яке здатне збільшити тривалість життя</li>
          <li data-aos="fade-up-left" data-aos-duration="1000">Здійснюємо оперативний лікарський супровід для коригування технік харчування</li>
          <li data-aos="fade-up-right" data-aos-duration="1000">Формуємо звичку “подружитися з їжею”:)</li>
        </ul>
      </div>
</section>
  </div>
<!--scroll-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <div (click)="scrollToTop()">
    <i class="fas fa-chevron-circle-up"></i>
  </div>
</div>

