@font-face {font-family: "Roboto-Regular"; src: url("../../../assets/fonts/FuturaFuturisC.ttf");
}
.about{
  font-family: 'IntroRegular';
  font-size: 18px;
  min-height: 90vh;
  background-color: rgba(255,250,250, 0.6);
  box-shadow: 5px 3px 3px grey;
}
.my_photo{
  width: 500px;
  height: 350px;
  box-shadow: 3px 2px 2px grey;
}
.directions ul{
  list-style: none;
}
.directions ul li:nth-child(2n+1) {
  clear: both;
}
.directions ul li{
  width: 50%;
  float: left;
  display: block;
  position: relative;
  margin-bottom: 46px;
  padding-left: 30px;
  padding-right: 70px;
}
.directions ul li:before {
  position: absolute;
  top: -4px;
  left: -40px;
  font-family: "fontello";
  content: '\2714';
  font-size: 20px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  text-align: center;
  color: var(--mainColor);
  line-height: 30px;
  z-index: 1;
  border-radius: 50%;
}
@media(max-width: 1250px){
  .myHistory{
    padding-left: 0!important;
  }
  .myPhoto{
    padding-bottom: 0;
  }
}
@media(max-width: 1224px){
  .myHistory{
    flex-basis: 100%;
    padding-top: 0!important;
    padding-left: 48px!important;
  }
}
@media(max-width: 990px){
  .about{
    padding-top: 0!important;
  }
}
@media(max-width: 768px) {
  .directions ul li{
    width: 100%;
    float: left;
    padding-right: 50px;
  }
  .myHistory{
  padding-top: 0!important;
  }
}
@media(max-width: 678px) {
  .my_photo{
    width: 100%;
    height: 100%;

  }
}

.title{
  font-family: 'FuturaFuturisC';
  color: black;
  text-shadow: 2px 2px 2px #a0a0a0;
}
