<section class="slogan img" style="background-image: url(../../../assets/images/1.jpg);">
  <div class="container-fluid">
    <div class="slogan_block px-2 pt-5" >
      <div class="mb-3">
        <h2  data-aos="fade-right" data-aos-easing="ease" data-aos-delay="2200" data-aos-duration="1000">«Нехай їжа буде вашими ліками,
          а ліки — вашою їжею».<br><span>Гіппократ</span></h2>
      </div>
      <div data-aos="fade-right" data-aos-easing="ease" data-aos-delay="2300" data-aos-duration="1000" class="calc mt-3">
        <h3 >Хочеш дізнатися свою ідеальну вагу
          - скористайся нашим калькулятором</h3>
        <div>
          <button type="button" class="btn btn-sm my-2" data-toggle="modal" data-target="#calcModal">
            <i class="fas fa-calculator calcLink"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main">
  <div class="container-fluid">
    <div class="row about d-flex flex-row flex-md-wrap justify-content-md-center mx-0">
      <div class="col-lg p-5">
        <img src="../../../assets/images/2.jpg" class="myPhoto" alt="">
      </div>
      <div class="aboutInfo col-lg py-3">
        <div>
          <h3>Дієтолог Аліса Савенко</h3>
          <p>Проблеми, пов’язані із харчуванням, завжди актуальні, оскільки вони стосуються майже кожної людини. Особливо важливими ці проблеми є саме зараз. Адже надворі весна, а значить, хтось, намагаючись гарно виглядати,
            випробовує на собі новітні дієти, хтось починає постити, а ще хтось зловживає надміру шкідливими продуктами.​</p>
        </div>
        <a routerLink="/about" class="more linkRight"><span>Читати більше</span></a>
      </div>
    </div>
    <div class="row services mx-0">
      <h3>Ви можете покращити своє самопочуття <br><span>за допомогою наступних наших послуг</span></h3>
      <div class="ih-item square effect10 bottom_to_top m-3" data-aos="fade-right" data-aos-duration="1000">
      <a routerLink="/send-mail">
        <div class="img"><img src="../../../assets/images/serv1.jpg" alt="img"></div>
        <div class="info">
          <div class="servicePrice p-3">
            <h3>Персональна консультація</h3>
            <p>300 грн</p>
          </div>
          <p><span>У професійному контексті це часто буває, що приватні або корпоративні клієнти Corder публікацію, які будуть зроблені і представлені з фактичний зміст все ще не готовий.
            Подумайте про прес- блозі, що наповнилися змістом погодинна в день буде жити.</span></p>
          <a routerLink="/send-mail" class="btn btn-outline btn-sm my-0">Замовити послугу</a>
        </div>
      </a>
      </div>
      <div class="ih-item square effect10 bottom_to_top m-3" data-aos="fade-top" data-aos-duration="1000">
        <a routerLink="/send-mail">
          <div class="img"><img src="../../../assets/images/serv2.jpg" alt="img"></div>
          <div class="info">
            <div class="servicePrice p-3">
              <h3>Нормалізація ваги</h3>
              <p>300 грн</p>
            </div>
            <p><span>У професійному контексті це часто буває, що приватні або корпоративні клієнти Corder публікацію, які будуть зроблені і представлені з фактичний зміст все ще не готовий.
            Подумайте про прес- блозі, що наповнилися змістом погодинна в день буде жити.</span></p>
            <a routerLink="/send-mail" class="btn btn-outline btn-sm my-0">Замовити послугу</a>
          </div>
        </a>
      </div>
      <div class="ih-item square effect10 bottom_to_top m-3" data-aos="fade-left" data-aos-duration="1000">
        <a routerLink="/send-mail">
          <div class="img"><img src="../../../assets/images/serv3.jpg" alt="img"></div>
          <div class="info">
            <div class="servicePrice p-3">
              <h3>Вибір продуктів</h3>
              <p>300 грн</p>
            </div>
            <p><span>У професійному контексті це часто буває, що приватні або корпоративні клієнти Corder публікацію, які будуть зроблені і представлені з фактичний зміст все ще не готовий.
            Подумайте про прес- блозі, що наповнилися змістом погодинна в день буде жити.</span></p>
            <a routerLink="/send-mail" class="btn btn-outline btn-sm my-0">Замовити послугу</a>
          </div>
        </a>
      </div>
      <div class="moreServices">
        <a routerLink="/services" class="text-white mt-2 moreSvsBtn linkRight"><span>Більше послуг</span></a>
      </div>
    </div>
    <div class="row recipes ml-0 d-flex flex-row flex-md-wrap justify-content-md-center mx-0">
      <div class="col-lg pr-0 px-5 recipesInfo py-5">
        <h3 class="text-dark">Скористайтеся <a routerLink="/recipes" class="text-dark">нашою книгою рецептів -</a> <br><span>готуйте смачно та корисно</span></h3>
        <p class="text-dark">Корисне чи смачне? Обирайте обидва варіанти!
          Асоціація дієтологів України розробили тарілку здорового харчування українця.
          Головне правило - побудувати збалансований раціон на кожен день.
          Головні інструменти - корисні продукти у смачних рецептах.
          Щоб навчити кожного харчуватися правильно, команда МОЗ разом із Центр громадського здоров'я МОЗ України долучилися
          до проекту «Про здорове».</p>
        <a routerLink="/recipes" class="recipesLink linkRight"><span>Перейти до книги рецептів</span></a>
      </div>
      <div class="col-lg p-5 recipesItem">
        <img src="../../../assets/images/3.jpg" class="recipePhoto" alt="">
      </div>
    </div>

  </div>

</section>
<!--Calc Modal-->
<div class="modal fade" id="calcModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calcModalLabel">Калькулятор ідеальної ваги</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-check form-check-inline col-3 mr-0">
            Стать
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="жінка" checked="checked">
            <label class="form-check-label" for="inlineRadio1"><i class="fas fa-female"></i> жінка</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="чоловік">
            <label class="form-check-label" for="inlineRadio2"><i class="fas fa-male"></i> чоловік</label>
          </div>
          <div class="form-group row my-2">
            <label for="inputWeight" class="col-3 col-form-label py-0">Вага</label>
            <div>
              <input required pattern="^[1-9][0-9][0-9]?$" type="number" id="inputWeight" placeholder="Вага"
                     [(ngModel)]="inputWeight" name="inputWeight" #weight="ngModel"> кг
            </div>
            <div class="alert alert-danger my-0" *ngIf="weight.errors?.required && weight.touched">
              Вкажіть будь ласка Вашу вагу
            </div>
            <div class="alert alert-danger my-0" *ngIf="weight.invalid && weight.touched && !weight.errors?.required">
              Поле може містити двозначне або тризначне число
            </div>
          </div>
          <div class="form-group row my-2">
            <label for="inputHeight" class="col-3 col-form-label py-0">Зріст</label>
            <div>
              <input required pattern="^[1-9][0-9][0-9]$" type="text" id="inputHeight" placeholder="Зріст"
                     [(ngModel)]="inputHeight" name="inputHeight" #height="ngModel"> см
            </div>
            <div class="alert alert-danger my-0" *ngIf="height.errors?.required && height.touched">
              Вкажіть будь ласка Ваш зріст
            </div>
            <div class="alert alert-danger my-0" *ngIf="height.invalid && height.touched && !height.errors?.required">
              Зріст вказаний невірно. Поле може містити тризначне число
            </div>
          </div>
          <div class="form-group row my-2">
            <label for="inputAge" class="col-3 col-form-label py-0">Вік</label>
            <div>
              <input required pattern="^[1-9][0-9]$" type="number" id="inputAge" placeholder="Вік"
                     [(ngModel)]="inputAge" name="inputAge" #age="ngModel"> р.
            </div>
            <div class="alert alert-danger my-0" *ngIf="age.errors?.required && age.touched">
              Вкажіть будь ласка Ваш вік
            </div>
            <div class="alert alert-danger my-0" *ngIf="age.invalid && age.touched && !age.errors?.required">
              Поле може містити двозначне число
            </div>
          </div>
          <div class="form-group row my-2">
            <label for="inputWrist" class="col-3 col-form-label py-0">Обхват зап'ястя</label>
            <div>
              <input required pattern="^[1-9][0-9]$" type="number" id="inputWrist" placeholder="Обхват зап'ястя"
                     [(ngModel)]="inputWrist" name="inputWrist" #wrist="ngModel"> см
            </div>
            <div class="alert alert-danger my-0" *ngIf="wrist.errors?.required && wrist.touched">
              Вкажіть будь ласка обхват Вашого зап'ястя
            </div>
            <div class="alert alert-danger my-0" *ngIf="wrist.invalid && wrist.touched && !wrist.errors?.required">
              Поле може містити двозначне число
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Закрити</button>
        <button type="button" class="btn calcBtn" id="calcBtn" (click)="calcWeight()" data-dismiss="modal"
                data-toggle="modal" data-target = "#resultModal" >Розрахувати вагу</button>
      </div>
    </div>
  </div>
</div>
<!--Result modal-->
<div class="modal fade-scale" id="resultModal" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">{{ message }} {{result}} {{unit}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{resultMessage}}</p>
      </div>
      <div class="modal-footer">
        <button [ngClass]={invisible:servBtnVisibil} type="button" data-dismiss="modal" class="btn" routerLink="/services"
                (click)="clearForm()">Ознайомитися з послугами</button>
        <button [ngClass]={invisible:visibility} type="button" class="btn" data-dismiss="modal" data-toggle="modal"
                data-target="#calcModal">Повернутися до форми</button>
      </div>
    </div>
  </div>
</div>

<!--scroll-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <div (click)="scrollToTop()">
    <i class="fas fa-chevron-circle-up"></i>
  </div>
</div>
